.sweets__items {
  display: flex;
  flex-direction: column;
  background: url(../.github/workflows/img/background.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  gap: 50px;
}
.index__h2 {
  padding: 40px;
  text-align: center;
  font-family: var(--font-main);
  font-size: 34px;
  color: var(--first-index-color);
  line-height: 44px;
}
.sweets__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}
.sweets__products {
  object-fit: cover;
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 30px;
}
.products__name {
    text-align: center;
    font-family: var(--font-main);
    color: var(--first-index-color);
    font-weight: 30px;
}
.sweets__button {
    text-align: center;
    text-decoration: none;
    color: #4C6386;
    padding-bottom: 20px;
}