.header__social-icons-item {
   width: 30px;
   height: 30px;
   list-style: none ;
   
}
.burger {
   display: none;
}

@media (max-width:700px) {
   .header__item,
   .header__social-icons,
   .header__social-icons-item,
   .global__buttons,
   .buttons__items {
      display: none;
   }
   .burger {
      display: block;
      margin-left: auto;
   }
   .global-logo-img {
      margin: auto ;
   }
   h1 {
      font-family: var(--font-main);
   }
}