/* верх мобільна версія */
.header__top {
  display: flex;
justify-content: space-between;
align-items: center;
}

.header__checkbox {
  display: none;
}
/* приховане меню */
.header__dropdown {
  display: none;
}
.header__checkbox:checked ~ .header__dropdown {
  display: flex;
  flex-direction: column;
}